/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
}

header {
    background-color: #c01c1c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .logo {
    max-width: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #d62424;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilos específicos */
h1 {
    color: #444;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

.services-page h1 {
    color: #444;
    margin-bottom: 30px;
}

.services-page table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.services-page th, .services-page td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.services-page th {
    background-color: #333;
    color: #fff;
}

.services-page td img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
}

.services-page td {
    vertical-align: middle;
}

.services-page tr:hover {
    background-color: #f9f9f9;
}

.services-page .service-description {
    text-align: left;
    padding-left: 20px;
}

.services-page .service-price {
    font-weight: bold;
    color: #28a745;
}